bcrypt==4.3.0
cffi==1.17.1
click==8.1.8
colorama==0.4.6
dnspython==2.7.0
ecdsa==0.19.1
email-validator==2.2.0
h11==0.14.0
idna==3.10
oso==0.27.3
passlib==1.7.4
pip==24.3.1
psycopg2==2.9.10
pyasn1==0.4.8
pycparser==2.22
python-jose==3.4.0
python-multipart==0.0.20
rsa==4.9
six==1.17.0
uvicorn==0.34.0
